{
    box-sizing: border box;
}
body{
    background-image: url(./shara\ desert.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.container-1{
display: flex;
justify-content: space-between;
padding-left: 30px;
padding-right: 30px;
margin-top: 30px;
}
.navbar{
    display: flex;
}
.navbar-menu{
  display: flex;
  align-items: center;
  font-size: 20px;
  color: white;
}
img{
  width: 60px;
  height: 60px;
}
ul li{
    list-style: none;
    margin: 0px 20px;
    display: inline-block;
    padding: 0px 10px;
    cursor: pointer;
}
.grid{
    display: grid;
    grid-template-columns: 220px 220px;
    height: 500px;
    row-gap: 20px;
    column-gap: 40px;
    width: 100%;
    /*align-items: center;*/
    /* border: solid 1px white; */


}
.box{
/* border: 3px solid black; */
cursor: pointer;
border-radius: 20px;
border-color: none;
padding-left: 40px;
padding-top: 30px;
}
.box:hover{
   /* box-shadow: 0px 0px 10px gray;*/
    transform: translateY(-15px);
}

/*mobile view*/

/* @media screen and (min-width:280px) and (max-width:500px) {
    body{
        background-size: auto;
        /*background-repeat: repeat; */
    
  /* .grid{
    grid-template-columns: 250px;
  }
  .box{
    height: 250px;
  }
  ul li{
   display: block;
  }

} */ 
/*tablet view*/

 @media screen and (min-width:500px) and (max-width:900px) {
    body{
        background-size: cover;
        background-position: center;
        /* height: 100px; */

        background-repeat: repeat;
    }
  
   .grid{
    grid-template-columns: 250px;
    height: auto;
  }
  .box{
    height: auto;
    column-gap: 100px;
  }
  .container-2{
   display: block;
  }
} 



/* testing testing */




.container-2{
  display: flex;
   border: solid 1px black;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  color: white;
}
.box1{
  background-image: url(./pic-1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.box2{
  background-image: url(./pic-2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.box3{
  background-image: url(./pic-3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.box4{
  background-image: url(./pic-4.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sahara{
  /* border: solid 3px yellow; */
  color: white;
  display: block;
  align-items: center;
  padding-top: 120px;
}
.sahara1{
  font-size: 80px;
  margin: auto;
  width: 80%;

}
.sahara2{
  font-size: 20px;
  margin: auto;
  width: 80%;
}
button{
  width: 160px;
  height: 30px;
  background-color: white;
  border-radius: 20px;
  color: black;
  margin-left: 80px;
  border: none;
  margin-top: 30px;
  padding: 10px;
}
h1{
  font-size: 20px;
  margin-top: 20px;
}